<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3>IBM BANK</h3>
          <p>I joined IBM BANK in May 2011. Since then, I have been a Credit Officer and currently I am in Global Markets as a Dealer. Working in the biggest treasury in India is a dream come true. One gets hands on experience in global markets, currency, equity and bonds. </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="">Privacy & policy</a></li>
            <li><a href="">Terms & conditions</a></li>
            <li><a href="">About us</a></li>

          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Subramanya Arcade Tower-C, Subramanya Arcade, Bannerghatta Main Rd,<br> Bengaluru, Karnataka 560029<br>

            <strong>Phone:</strong> +91987654321<br>
            <strong>Email:</strong> rinkuagarwal240@gmail.com<br>
          </p>



        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>For any query related to the bank, please feel free to contact us.</p>


        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; 2021 Copyright <strong>IBM Bank</strong>. All Rights Reserved
    </div>
  </div>
</footer>
