.formLabel{
font-size: large;
font-weight: bold;
margin: 50px 50px 10px 50px;
}

#form{
  text-align: center;
}
  input[type=submit] {
    margin: 30px 10px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color:#007bff;
    color: black;
    font-size: large;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #eff1f3;
    border-color: #0450a0;
  }
