<div class="row fieldRow">
  <div class="col-sm-6">
    <img src="assets/img/about-img.svg" class="img-fluid" alt="">
  </div>
<div class="col-sm-6">
  <div class="buttons">
    <button routerLink="/createaccount" routerLinkActive="active" class="btn btn-primary btn-block">Create Account </button>
  </div>
  <div class="buttons">
    <button routerLink="/searchall" routerLinkActive="active" class="btn btn-primary btn-block">Accounts</button>
  </div>
  <div class="buttons">
    <button routerLink="/updateEmployee" routerLinkActive="active" class="btn btn-primary btn-block">Update</button>
  </div>
  </div>
</div>



